body {
  font-family: 'Inter', sans-serif;
  background-color: #fff;
  overflow-x: hidden;
  -ms-overflow-style: none;
  max-width: 100%;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  scroll-behavior: smooth;
}
body::-webkit-scrollbar {
  display: none;
}
iframe::-webkit-scrollbar {
  display: none;
}
#logo-sidebar::-webkit-scrollbar {
  display: none;
}
iframe {
  margin-bottom: 16px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: #fff;
  max-width: 100%;
}
img {
  border: 0px;
}
.feed-container {
  font-family: "Arial", sans-serif;
  font-size: 15px;
  color: #fff;
  border-radius: 8px;
}
.feed-container .header {
  display: none;
}
.feed-container .footer {
  display: none;
}
.feed-container .content {
  margin: 0px;
  padding: 0px;
}
.feed-container .content .item {
  margin: 16px;
  background-color: #eee;
  border-radius: 8px;
  transition: all 0.2s ease-in-out;
}
.feed-container:hover .content:hover .item:hover {
  transform: scale(1.05);
  cursor: pointer;
}
.feed-container .content .item .title {
  padding-left: 16px;
  padding-top: 16px;
  font-weight: bold;
}
.feed-container .content .item .title a:link {
  color: #000;
  text-decoration: none;
}
.feed-container .content .item .title a:visited {
  color: #000;
  text-decoration: none;
}
.feed-container .content .item .title a:hover {
  color: #000;
  text-decoration: underline;
}
.feed-container .content .item .title a:active {
  color: #000;
  text-decoration: none;
}
.feed-container .content .item .description {
  padding-left: 32px;
  padding-bottom: 24px;
  margin-top: 8px;
  margin-bottom: 16px;
  color: #666;
  font-size: 14px;
  list-style-type: none;
}
.feed-container .content .item .description a {
  text-decoration: none;
  color: #000;
}
.feed-container .content .item .description a:hover {
  text-decoration: underline;
  color: #666;
}
